<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/result.css">
</head>
<body>
    <div class="container" id="content">
        <center>
            <div class="aclcLogo" style="padding: 20px;">
                <img src="../img/ACLC-Logo.png" alt="" srcset="">
                <p>999 J.C. Aquino Avenue, Butuan City, <br> Pan-Philippine Hwy, 08600 Agusan Del Norte</p>
            </div>
        </center>
        <section style="padding: 20px; margin: 10px;">
            <h4 class="titleDoc">
                NLP Analysis of Document 
            </h4>

        </section>
            
    
        <table>
            <tbody>
                <tr>
                    <p class="sentimentDoc">
                        Cras cursus accumsan ex et fringilla. Maecenas sed purus nec nunc pretium blandit sit amet sed augue. In pretium leo ut justo maximus, eu euismod arcu blandit. Nulla vitae vehicula mauris, eget euismod est. Ut et cursus leo, vitae iaculis justo. Quisque efficitur, arcu et tristique pharetra, risus eros sagittis sapien, eget consequat nunc turpis a tortor. Phasellus sem est, scelerisque ac posuere at, auctor ac dolor. Pellentesque ut vestibulum ex. Cras porta odio maximus fermentum interdum. Nullam tincidunt feugiat metus, eu efficitur lacus hendrerit gravida. Fusce a nisl vitae arcu tristique finibus id gravida elit. Donec et odio cursus, ultricies quam vitae, consequat velit. Nulla a arcu eu libero tempor aliquet. Nullam eleifend scelerisque ex id dapibus. Nunc id eros maximus nunc sagittis elementum maximus id magna. Sed vel maximus nisl, quis feugiat purus.
                    </p>
                </tr>
                <tr>
                    <td>
                        <img class="pieChart" src="../PieChartImgs/SentimentTwitter.png" alt="" srcset="">
                    </td>
                    <td>
                        <img class="pieChart" src="../PieChartImgs/SentimentGPT2.png" alt="" srcset="">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>